@model EmployeeEditVm
<form method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="EmployeeId" />
    <div class="border p-3 m-4 w-75 mx-auto">
        <div class="row pb-2">
            <h2 class="text-primary">@(Model.EmployeeId == 0 ? "Add Employee" : "Update Employee")</h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="EmployeeName"></label>
            <input class="form-control" asp-for="EmployeeName" />
            <span class="text-danger" asp-validation-for="EmployeeName"></span>
        </div>
        <div class="mb-3 row p-1">
            <label class="p-0" asp-for="Position"></label>
            <textarea class="form-control" asp-for="Position" style="width:100%; height:10"></textarea>
            <span class="text-danger" asp-validation-for="Position"></span>
        </div>
        @if (Model.EmployeeId == 0)
        {
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-floppy2-fill"></i>
                Save
            </button>
        }
        else
        {
            <button class="btn btn-warning" type="submit">
                <i class="bi bi-floppy2-fill"></i>
                Update
            </button>
        }

        <a class="btn btn-success" asp-controller="Employee" asp-action="Index">
            <i class="bi bi-backspace"></i>
            Back to List
        </a>
    </div>
</form>
@section Scripts {
    @{
        <!-- Place the first <script> tag in your HTML's <head> -->
        <script src="https://cdn.tiny.cloud/1/ee4otp9ao47w6zc7rvtt4pdkf4mzwi5nzj603z034gzx78i0/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>

        <!-- Place the following <script> and <textarea> tags your HTML's <body> -->
        <script>
            tinymce.init({
              selector: 'textarea',
              plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
              toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
            });
        </script>
        <partial name="_ValidationScriptsPartial" />
    }
}
