@model Category

<form method="post">
    <div class="mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>@*//En caso de no ser valido muestra el error@ *@
        <label class="form-label" asp-for="CategoryName"></label>
        <input class="form-control" asp-for="CategoryName">
        <span class="text-danger" asp-validation-for="CategoryName"></span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a class="btn btn-primary" asp-controller="Categories" asp-action="Index">Cancel</a>
</form>