@model Category

<form>
    <div class="mb-3">
        <label for="Inputname" class="form-label">Category Name</label>
        <input type="Name" class="form-control" id="CategoryName" aria-describedby="Category">
    </div>
    <button type="save" class="btn btn-success">Save</button>
    <a class="btn btn-primary" asp-controller="Categories" asp-action="Index">Cancel</a>
</form>
