@model IEnumerable<CategoryDto>
<div class="row">
	<div class="col-6">
		<h1>Category List</h1>
	</div>
    <div class="col-6 text-end">
		<a class="btn btn-primary" asp-controller="Categories" asp-action="Create">Create New Category</a>
	</div>
<table>
    <thead>
        <tr>
            <th>
                Category Name
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>
                    @category.CategoryName
                </td>
            </tr>
        }
    </tbody>
</table>
