@model LocalityEditVm

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-header bg-success text-white">
            <h2 class="mb-0">Locality Create</h2>
        </div>
        <div class="card-body">
            <p class="text-muted">
                In this space, you can create a new Locality.<br />
                Please be responsible and follow the guidelines.<br />
            </p>
            <ul class="text-muted">
                <li>He name is required.</li>
                <li>It must be between 3 and 50 characters.</li>
            </ul>

            <form method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <div class="mb-3">
                    <label asp-for="LocalityName" class="form-label fw-bold"></label>
                    <input asp-for="LocalityName" class="form-control" />
                    <span asp-validation-for="LocalityName" class="text-danger"></span>
                </div>

                <div class="form-check mb-4">
                    <input type="checkbox" asp-for="Delivery" class="form-check-input" />
                    <label class="form-check-label" asp-for="Delivery">
                        Delivery
                    </label>
                </div>

                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-success w-25 m-3">Save</button>
                    <a asp-controller="Localities" asp-action="Index" class="btn btn-outline-secondary w-25 m-3">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
