@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This project was carried out by the students:<br />
    Daniel Marhon.<br />
    Kevin Baez.<br />
    Diego BiancoFiore.<br />
    Joaquin Deamelio.<br /><br />


    Teacher: Carlos Cimino.
</p>
